<link rel="stylesheet" href="/css/styles.css" type="text/css" />

<% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert-box radius">
    <%= flash[type] %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>

<div>
  <label for="add_bookmark"><h1>Add a bookmark</h1></label>
  <form action="/bookmarks/add" method="post" name="add_bookmark">
    <input type="text" name="title" placeholder="Title">
    <input type="text" name="url" placeholder="URL">
    <input type="submit" value="Submit">
  </form>
</div><br>

<div>
  <ul>
    <% @bookmarks.each do |bookmark| %>
      <li class="bookmark" id="bookmark-<%= bookmark.id %>">
        <a href="<%= bookmark.url %>" class="bm-title">
          <%= bookmark.title %>
        </a>
        <form action="/bookmarks/<%= bookmark.id %>/edit" method="get" class="bm-button-edit">
          <input type="submit" value="Edit" />
        </form>
        <form action="/bookmarks/<%= bookmark.id %>" method="post" class="bm-button-delete"> 
          <input type="hidden" name="_method" value="DELETE" />
          <input type='submit' value='Delete' />
        </form>
      </li>
    <% end %>
  </ul> 
</div>
